/* Importing Fonts */
@font-face {
    font-family: fright-pro;
    src: url(../media/fonts/fright\ big\ pro/Freight\ Big\ Pro\ Light.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poopins", sans-serif;
    user-select: none;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    background-color: #f5e41b;
}





/* ----------Loader animation-------- */
.loader {
    height: 100vh;
    width: 100%;
    background-color: #000;
    position: fixed;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.loader h1 {
    position: relative;
    z-index: 9;
    color: white;
    font-size: 6.9vw;
    font-weight: 100;
    line-height: 5vw;
    letter-spacing: -3px;
    font-family: fright-pro;
}

.loader h1 em {
    font-family: fright-pro;
}

.loader .yellow {
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 100%;
    background-color: #f5e41b;
}

.loader video {
    height: 100%;
    width: 100%;
    z-index: 7;
    position: absolute;
    object-fit: cover;
}

.loader .video-hider {
    position: absolute;
    z-index: 8;
    height: 100%;
    width: 100%;
    background-color: #000;
}





/* -----Navigation Pannel----- */
nav {
    width: 100%;
    padding: 25px 55px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
}

nav h1 {
    font-size: 23px;
    letter-spacing: -2px;
    font-weight: 900;
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4vw;
}

nav ul li {
    overflow: hidden;
    font-size: 15px;
    letter-spacing: -.5px;
    text-transform: uppercase;
    cursor: pointer;
}

.cross {
    font-size: 25px;
    font-weight: 100;
}

nav a {
    text-decoration: none;
    color: black;
}







/* -----Page1----- */
.page1 {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #f5e41b;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.page1 h1 {
    font-size: 6.9vw;
    font-weight: 100;
    line-height: 5vw;
    letter-spacing: -3px;
    font-family: fright-pro;
    color: white;
}

.page1 h1 em {
    font-family: fright-pro;
}

.page1-bottom {
    width: 100%;
    position: absolute;
    z-index: 2;
    bottom: 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
}

.page1-bottom img {
    transform: rotate(180deg);
    cursor: pointer;
}

.page1-bottom a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.page1-bottom a::after {
    background-color: black;
}






/* --------Page2--------- */
.page2 {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    overflow: hidden;
}

.page2 img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.page2 #scroll-down {
    width: 50px;
    height: fit-content;
    position: absolute;
    bottom: 20px;
    filter: invert(100%);
    transform: rotate(180deg);
    cursor: pointer;
}

.page2>div {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page2 h1 {
    position: relative;
    z-index: 10;
    color: white;
    font-family: fright-pro;
    text-transform: uppercase;
    font-size: 6.5vw;
    line-height: 4.5vw;
    cursor: pointer;
}

.page2 h1 span {
    width: 120%;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleY(0);
    background: #f5e41b;
    transition: transform .2s ease-in-out;
}

.page2 h1 span::after {
    content: "";
    height: 100%;
    width: 10%;
    position: absolute;
    right: -10%;
    background: linear-gradient(to right, #f5e41b, rgba(255, 255, 255, 0));
}

.page2 h1 span::before {
    content: "";
    height: 100%;
    width: 10%;
    position: absolute;
    left: -10%;
    background: linear-gradient(to right, rgba(0, 255, 255, 0), #f5e41b);
}

.stripe {
    height: fit-content;
    width: fit-content;
    position: absolute;
    background-color: #f5e41b;
    white-space: nowrap;
    top: 50%;
    left: 0;
    right: auto;
    transform: translate(0, -50%) scaleY(0);
    transition: transform .2s ease-in-out;
}

.stripe span {
    white-space: nowrap;
    text-transform: uppercase;
    display: inline-block;
    padding: 7px 20px;
}

.stripe .gredient {
    height: 100%;
    width: 50%;
    background: #f5e41b;
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
}

.page2 h1:hover+.stripe {
    transform: translate(0, -50%) scaleY(1);
}

.page2 h1:hover span {
    transform: translate(-50%, -50%) scaleY(1);
}

.page2 h1:hover {
    font-style: italic;
}





/* --------Page3--------- */
.page3 {
    min-height: 100vh;
    width: 100%;
    background: white;

    display: grid;
    gap: 1.7vw;
    padding: 1.7vw;

    grid-template-columns: repeat(3, minmax(20vw, 1fr));
    grid-auto-rows: 5vw;
}

.page3 .image-container {
    position: relative;
    overflow: hidden;
}

.image-container:hover .img-dets {
    opacity: 1;
    letter-spacing: normal;
}

.image-container:hover img {
    scale: 1.1;
}

.image-container .img-dets {
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 3vw;
    font-family: fright-pro;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 2.5vw;
    opacity: 0;
    text-align: center;
    padding: 0 5%;
    transition: opacity .3s ease-in-out, letter-spacing .3s ease-in-out;
}

.img-dets em {
    text-transform: inherit;
    color: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    font-size: inherit;
    font-family: inherit;
    text-align: inherit;
}

.page3 .image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: scale .3s ease-in-out;
}





/* -------Footer------- */
footer {
    width: 100%;
    height: 20vw;
    background-color: white;
}

footer .top {
    height: 50%;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

footer .top h5 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
}

footer .top-container {
    cursor: pointer;
}

footer .bottom {
    height: 50%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4vw;
}

footer .bottom .right {
    display: flex;
    gap: 5vw;
}

footer .bottom a {
    font-size: 1.2vw;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.underline {
    position: relative;
}

.underline::after {
    content: "";
    position: absolute;
    bottom: -15%;
    left: 50%;
    width: 0;
    height: 1px;
    border-radius: 10px;
    background-color: white;
    transition: width .3s ease-in-out, left .3s ease-in-out;
}

.underline:hover::after {
    width: 100%;
    left: 0;
}














/* ----------Responsiveness-------- */
@media (max-width: 800px) {
    nav {
        padding: 25px 30px;
    }

    nav ul {
        gap: 1vw;
    }

    nav a {
        font-size: 12px;
    }

    .cross {
        font-size: 20px;
    }

    .page1 {
        height: 85vh;
    }

    .page1-bottom a {
        font-size: 14px;
    }

    .page1-bottom img,
    .page2 #scroll-down {
        width: 30px;
    }

    .page2 h1 {
        font-size: 12vw;
        line-height: 10vw;
    }

    .page3 {
        grid-template-columns: repeat(1, minmax(20vw, 1fr));
        grid-auto-rows: 20vw;
    }

    .image-container .img-dets {
        font-size: 6vw;
        line-height: 5.5vw;
    }

    footer .top {
        filter: invert(50%);
    }

    footer .bottom {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 1vw;
    }

    footer .bottom a {
        font-size: 2.5vw;
    }
}

@media (max-width: 500px) {
    .image-container .img-dets {
        font-size: 10vw;
        line-height: 8.5vw;
    }

    footer .top h5 {
        font-size: 12px;
    }

    footer .top img {
        width: 30px;
    }
}